Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. Keras
2. Pandas
3. Numpy
4. TensorFlow
5. SciKit-Learn

Exercise 6 - Create a markdown cell with a table of Data Science tools

Data Science Tools |
-------------------|
Google Colab       |
IBM Watson         |
JupyterNotebook    |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

Exercise 8 - Create a code cell to multiply and add numbers

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

Exercise 10 - Insert a markdown cell to list Objectives

<b>Objectives:</b>
- Covered create Header in Markdown
- List Language and Library for Data Sciences
- Create table in markdown
- Calculate simple math in notebook

Exercise 11 - Create a markdown cell to indicate the Author's name

## Rathwathra Jitropas
Author